.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #2e2d2e;
  box-shadow: 0 9px 17px 0 rgba(0, 0, 0, 0.142);
  position: relative;
  z-index: 1;
}

.headerImagem {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 9.7%;
  height: 100%;
  border-top-right-radius: 10px; /* Arredonda o canto superior esquerdo */
  border-bottom-right-radius: 10px; /* Arredonda o canto inferior esquerdo */
}

.headerTexto {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  color: white;
  background-color: #880e05;
  padding-left: 2%;
  height: 100%;
}

.headerTexto p:hover {
  color: #dda9a5; /* Altera a cor de fundo quando o mouse passa por cima */
}

.headerTexto a {
  margin-right: 5%;
}

.headerTexto p {
  font-size: 17px;
  font-weight: 200;
  transition: background-color 0.3s ease; /* Adiciona uma transição suave na mudança de cor de fundo */
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  height: 60px;
  background-color: #880e05; /* Cor de fundo com transparência */
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.imageInicial {
  position: relative; /* Para permitir posicionamento absoluto dos elementos filhos */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 600px;
  width: 100%;
}

.imageInicial img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.quadradoInicial {
  position: absolute; /* Posicionamento absoluto em relação ao contêiner pai */
  top: 63%; /* Alinha o quadrado no topo do contêiner pai */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Cor de fundo com transparência */
  backdrop-filter: blur(10px); /* Aplicar o efeito de desfoque */
  height: 37%;
  width: 65%;
  height: 40%;
  z-index: 1;
  border-radius: 10px; /* Coloca o quadrado acima da imagem */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra ao redor do quadrado */
}

.quadradoInicial_imagem {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.quadradoInicial_imagem img {
  width: 100%;
  height: auto;
}

.quadradoInicial_texto {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  color: rgb(106, 102, 102);
  height: 20%;
  width: 100%;
}

.quadradoInicial_texto p {
  font-size: 20px;
  font-weight: 300;
  transition: background-color 0.3s ease;
}

.informacoes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  height: 800px;
  width: 80%;
  background-image: url("/balanca.png");
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-position: center; /* Centraliza a imagem no elemento */
  background-size: 70%;
  z-index: 0;
}

.info1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 60%;
}

.quadradotransparente_info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 70%;
  height: 100%;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5% 2%;
}

.info1 h1 {
  margin-top: 5%;
  margin-left: 5%;
  font-weight: 500;
}
.info1 p {
  margin-left: 5%;
  margin-top: 2%;
  font-weight: 300;
}

.button1 {
  width: 25%;
  margin-top: 5%;
  height: 20%;
  margin-left: 5%;
  background-color: #880e05;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease;
  color: white;
  padding: 10px;
}

.button2 {
  width: 25%;
  margin-top: 5%;
  height: 20%;
  margin-left: 5%;
  color: #880e05;
  border-radius: 5px;
  background-color: #f87c7c5b;
  border-color: #880e05; /* Define a cor do border */
  border-style: solid; /* Define o estilo do border como sólido */
  transition: background-color 0.3s ease;
  padding: 10px;

}

.info1 button:hover {
  color: white;
  background-color: #b44f48;
}

.quadradovermelho_info {
  height: 100%;
  width: 70%;
  color: black;
  height: 100%;
  background-color: #edd3d179;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5% 2%;
}

.contactos {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: black;
}

.mapa {
  width: 45%;
  margin-left: 15%;
  height: 70%;
  background-color: #2e2d2e;
  background-image: url("/mapa.png");
  background-size: cover; /* Ajusta o dimensionamento da imagem para caber dentro do div */
  background-position: center; /* Centraliza a imagem dentro do div */
  background-repeat: no-repeat; /* Evita que a imagem seja repetida */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.397); /* Adiciona uma sombra ao div */
}
.contactos_texto {
  width: 23%;
  height: 70%;
  margin: 5%;
  margin-right: 10%;
}

.contactos_texto h1 {
  font-size: 40px;
  margin-bottom: 5%;
}

.contactos_texto h2 {
  font-size: 17px;
  margin-bottom: 5%;
  font-weight: 300;
}

.contactos_texto button {
  background-color: #880e05;
  border: none;
  font-size: 20px;
  color: white;
}

.contactos_texto form {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.contactos_texto input {
  margin-bottom: 5%;
  font-size: 17px;
  font-weight: 100;
  color: #000000;
  background-color: #ffffff;
  border: none; /* Remove as bordas de todos os outros lados */
  border-bottom: 2px solid #bfbfbf; /* Adiciona borda sólida preta na parte inferior */
}

.contactos_texto textarea {
  margin-bottom: 5%;
  font-family: Arial;
  color: #000000;
  background-color: #ffffff;
  border: none; /* Remove as bordas de todos os outros lados */
  border-bottom: 2px solid #bfbfbf; /* Adiciona borda sólida preta na parte inferior */
}

.contactos_texto button {
  width: 40%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #880e05;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contactos_texto button:hover {
  background-color: #bb1307;
}

.footer {
  background-color: #2e2d2e;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ajusta o espaço entre os itens do flex container */
  align-items: center; /* Alinha os itens verticalmente ao centro */
}

.footer2 {
  background-color: #2e2d2e;
  height: 7vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Ajusta o espaço entre os itens do flex container */
  align-items: center; /* Alinha os itens verticalmente ao centro */
}

.localizacoes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 50%;
}

.infolocal {
  margin-top: 2%;
  font-weight: 200;
  margin-left: 3%;
  width: 55%;
}

.letrasCores {
  display: flex;
  justify-content: flex-start;
  align-self: start;
  flex-direction: row;
}

.lx {
  width: 60%;
  height: 40%;
  margin-left: 6%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.lx h1 {
  font-weight: 400;
  font-size: 25px;
}

.norte {
  width: 65%;
  margin-left: 10%;
  height: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.norte h1 {
  font-weight: 400;
  font-size: 25px;
}

.red {
  color: #b11409;
  font-weight: 600;
  margin-right: 3%;
}

.assin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 15%;
}

.assin p {
  font-weight: 100;
}

.imageInicial2 {
  position: relative; /* Para permitir posicionamento absoluto dos elementos filhos */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 500px;
  width: 100%;
  background-color: #d9d9d9;
}

.quadrado {
  position: absolute; /* Posicionamento absoluto em relação ao contêiner pai */
  top: 15%; /* Alinha o quadrado no topo do contêiner pai */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  background-color: #880e05; /* Cor de fundo com transparência */
  backdrop-filter: blur(10px); /* Aplicar o efeito de desfoque */
  height: 37%;
  width: 65%;
  height: 30%;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra ao redor do quadrado */
}
.quadrado_texto {
  font-size: 47px;
  margin-right: 6%;
}

.sociedade {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 65%;
  height: auto;
  margin: 50px 0px;
}

.sociedade_imagem {
  width: 50%;
  height: 80%;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.282); /* Adiciona uma sombra ao redor do quadrado */
}

.sociedade_texto {
  color: #000000;
  display: flex;
  height: 80%;
  width: 47%;
  font-size: 21px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.sociedade_texto p {
  margin-bottom: 8%;
}

.sociedade_texto button {
  background-color: #880e05;
  border: None;
  font-size: 22px;
  margin-left: 5%;
  margin-top: 35%;
  border-radius: 5px;
  width: 40%;
  height: 50px;
  color: white;
}

.sociedade_texto button:hover {
  background-color: #a71107c6;
  transition: background-color 0.3s ease; /* Adiciona uma transição suave na mudança de cor de fundo */
}

.areas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 65%;
  height: auto;
}

.areas_imagem {
  width: 50%;
  height: 90%;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.282); /* Adiciona uma sombra ao redor do quadrado */
}

.areas_texto {
  color: #000000;
  display: flex;
  height: 90%;
  width: 47%;
  font-size: 21px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.areas_texto p {
  margin-bottom: 8%;
}

.servicos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 65%;
  height: 700px;
  margin: 50px 0px;
}

.servicos_imagem {
  width: 50%;
  height: 80%;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.282); /* Adiciona uma sombra ao redor do quadrado */
}

.servicos_texto {
  color: #000000;
  display: flex;
  height: 80%;
  width: 47%;
  font-size: 21px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.servicos_texto p {
  margin-bottom: 8%;
}

.servicos_texto button {
  background-color: #880e05;
  border: None;
  color: white;

  font-size: 22px;
  margin-left: 5%;
  border-radius: 5px;
  width: 40%;
  height: 50px;
}

.servicos_texto button:hover {
  background-color: #a71107c6;
  transition: background-color 0.3s ease; /* Adiciona uma transição suave na mudança de cor de fundo */
}

.honorarios {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 65%;
  height: 700px;
}

.honorarios_imagem {
  width: 50%;
  height: 80%;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.282); /* Adiciona uma sombra ao redor do quadrado */
}

.honorarios_texto {
  color: #000000;
  display: flex;
  height: 80%;
  width: 44%;
  font-size: 21.5px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.honorarios_texto p {
  margin-bottom: 8%;
}

.honorarios_texto button {
  background-color: #880e05;
  border: None;
  font-size: 22px;
  margin-left: 5%;
  border-radius: 5px;
  width: 40%;
  color: white;

  height: 50px;
}

.honorarios_texto button:hover {
  background-color: #a71107c6;
  transition: background-color 0.3s ease; /* Adiciona uma transição suave na mudança de cor de fundo */
}

.hono_title {
  color: #2e2d2e;
  margin: 6% 2% 3% 6%;
  font-size: 70px;
  margin-left: 0;
  margin-right: 40%;
}

.pagecontactos {
  display: flex;
  align-items: flex-start;
  color: #000000;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 70%;
}

.pagecontactos h1 {
  height: 10%;
  font-size: 50px;
}

.pagecontactos_locais {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60%;
}

.letrasCoresSede {
  display: flex;
  justify-content: flex-start;
  align-self: start;
  flex-direction: row;
}

.lxSede {
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  line-height: 22px;
}

.lxSede h1 {
  font-weight: 500;
  font-size: 25px;
}

.norteSede {
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  line-height: 22px;
}

.norteSede h1 {
  font-weight: 500;
  font-size: 25px;
}

.red2 {
  color: #b11409;
  font-weight: 400;
  margin-right: 3%;
}

.infolocalSede {
  margin-top: 5%;
  font-weight: 200;
  margin-left: 3%;
  width: 70%;
}

.publicacoes {
  width: 77%;
  height: 70vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 3%;
}

.publicacoes h1 {
  height: 10%;
  font-size: 40px;
  margin-top: 30px;
  color: #000000;
}

.subscricoes {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  background-color: #2e2d2e;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.142);
}

.subscricoes_areas {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 19px;
  font-weight: 200;
  line-height: 40px;
  flex-direction: column;
}

.subscricoes_areas h1 {
  color: white;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 0%;
  margin-right: 0px;
  margin-top: 0%;
}

.subscricoes_areas .form {
  width: 100%;
}

.subscricoes_areas button {
  background-color: #880e05;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 100;
  height: auto;
  margin-top: 5%;
  padding: 10px;

  transition: background-color 0.3s ease; /* Adiciona uma transição suave na mudança de cor de fundo */
}
.subscricoes_areas button:hover {
  background-color: #a8190fd2;
}

.subscricoes_subs {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  width: 80%;
  height: 80%;
  margin-left: 5%;
  margin-top: 1%;
}

.subscricoes_texto {
  width: 90%;
  height: 30%;
}

.subscricoes_texto h1 {
  font-size: 27px;
  color: white;

  font-weight: 200;
}

.subscricoes_texto p {
  font-size: 17px;
  color: white;
  font-weight: 100;
  margin-top: 5%;
}

.subscricoes_info {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.subscricoes_info input {
  background-color: #2e2d2e;
  margin-right: 20px;
  font-size: 20px;
  margin-top: 7%;

  border: none;
  border-bottom: 1px solid #5d5d5d; /* Adiciona borda sólida preta na parte inferior */
}

.quadradoinfo {
  width: 77vw;
  margin: 0% 0% 3% 0%;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 10px;
}

.quadradoinfoVermelho {
  width: 77vw;
  margin: 0% 0% 3% 0%;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #e1c8c6;
  border-radius: 10px;
}

.quadradotexto {
  width: 80%;
  height: 70%;
  display: flex;
  margin-right: 5%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: #000000;
}

.post {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.postinfo {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.postinfo h1 {
  font-size: 30px;
}

.postinfo p {
  font-weight: 300;
  font-size: 15px;
}
.postBody {
  font-size: 20px;
}

.quadradoImagem {
  width: 27%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-right: 2%;
  padding: 2%;
  display: flex;
}
.quadradoImagem img{
  border-radius: 10px;
}
.buttonRed {
  background-color: #880e05;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1% 3%;
  font-size: 18px;
  transition: background-color 0.3s ease; /* Adiciona uma transição suave na mudança de cor de fundo */
}

.buttonRed:hover {
  background-color: #e1c8c6;
  color: #880e05;
  border-color: 1px #880e05;
  background-color: #f87c7c5b;
  border-color: #880e05; /* Define a cor do border */
  border-style: solid; /* Define o estilo do border como sólido */
  border-radius: 5px;
  padding: 1% 3%;
  font-size: 18px;
}

.buttonRed2 {
  background-color: #e1c8c6;
  color: #880e05;
  border-color: 1px #880e05;
  background-color: #f87c7c5b;
  border-color: #880e05; /* Define a cor do border */
  border-style: solid; /* Define o estilo do border como sólido */
  border-radius: 5px;
  padding: 1% 3%;
  font-size: 18px;
  transition: background-color 0.3s ease; /* Adiciona uma transição suave na mudança de cor de fundo */
}

.buttonRed2:hover {
  background-color: #880e05;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1% 3%;
  font-size: 18px;
}
.mobileMenu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 0 2rem;
}
.mobileMenu a {
  font-weight: bolder;
  font-family: "Inter", sans-serif;
  color: #8c0c0c;
  font-size: 30px;
}
.closeMenu {
  position: fixed;
  top: 15px;
  right: 2rem;
  font-size: 40px;
  color: #8c0c0c;
}
.logoMenu {
  position: fixed;
  top: 10px;
  left: 2rem;
}
.navigation svg {
  font-size: 25px;
}

/* page.module.css */
.searchContainer {
  display: flex;
  justify-content: center;
  margin: 50px;
  border: 1px solid #dfe1e5; /* Light grey border, adjust color to match the image */
  border-radius: 24px; /* Rounded corners */
  padding: 10px 20px;
}

.searchInput {
  border: none;
  font-size: 16px; /* Font size similar to the one in the image */
  width: 100%; /* Full width of its container */
  box-sizing: border-box; /* Include padding in the width */
}

/* Style for the input element when it's focused */
.searchInput:focus {
  color: #5d5d5d;
  box-shadow: 0 0 0 2px rgba(26, 115, 232, 0.3); /* Optional: add a light blue shadow for focus */
}

/* Optional: you can add a class for the SVG icon if you're using one */
.searchIcon {
  color: #5d5d5d;
  width: 24px; /* Size of the icon */
  height: 17px;
  margin-left: 10px;
}

@media (max-width: 1100px) {
  .informacoes {
    flex-direction: column;
    gap: 20px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .info1 {
    gap: 20px;
    justify-content: center;
  }
  .quadradovermelho_info,
  .quadradotransparente_info {
    height: 100%;
  }
  .button1,
  .button2 {
    margin-top: 5%;
  }
  .contactos {
    flex-direction: column;
    height: auto;
  }
  .mapa {
    margin-left: 0;
    width: 80%;
    height: 400px;
  }
  .contactos_texto {
    width: 80%;
    margin-right: 0;
    margin: 5% 0;
  }
  .footer {
    height: auto;
    padding: 50px;
    gap: 20px;
  }
  .pagecontactos {
    height: auto;
    padding: 50px;
    gap: 20px;
  }
  .localizacoes {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .pagecontactos_locais {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .lx,
  .norte {
    width: 100%;
    height: auto;
    margin-left: 30px;
  }
  .lxSede,
  .norteSede {
    width: 100%;
    height: auto;
    margin-left: 30px;
  }
  .quadrado_texto {
    font-size: 26px;
  }
  .sociedade {
    width: 90%;
  }
  .sociedade_texto button {
    margin-top: 10%;
    margin-left: 0%;
    width: auto;
    padding: 0 10px;
  }
  .servicos {
    height: 850px;
    width: 90%;
  }
  .servicos_texto,
  .areas_texto,
  .honorarios_texto {
    font-size: 18px;
  }
  .servicos_texto button {
    margin-left: 0;
    font-size: 18px;
  }
  .areas,
  .honorarios {
    width: 90%;
    height: auto;
  }
  .publicacoes {
    height: auto;
  }
  .subscricoes {
    height: auto;
    flex-direction: column;
    gap: 20px;
  }
  .subscricoes_areas {
    padding-left: 5%;
    padding-bottom: 30px;
    width: 100%;
  }
  .subscricoes_areas button {
    margin-top: 0;
    padding: 10px;
  }
  .quadradoinfo,
  .quadradoinfoVermelho {
    flex-direction: column;
    height: auto;
    padding: 0 0 40px 0;
    width: 90%;
    gap: 30px;
  }
  .postinfo {
    width: 65%;
  }
  .quadradotexto {
    width: 90%;
    margin-right: 0%;
  }
  .quadradoImagem {
    justify-content: center;
    width: 90%;
  }
  .postinfo h1 {
    font-size: 30px;
  }
  .conteudo {
    font-size: 10px;
  }

  .publicacoes {
    width: 90%;
  }
}
@media (max-width: 610px) {
  .quadradoInicial {
    width: 90%;
  }
  .quadradoInicial p {
    font-size: 16px;
  }
  .quadradovermelho_info,
  .quadradotransparente_info {

    width: 100%;
  }

  .pagecontactos {
    width: 100%;
    justify-content: center;
    height: auto;
    padding: 10px;
    gap: 20px;
    
  }

  .lx,
  .norte,
  .lxSede,
  .norteSede {
    margin-left: 30px;
    width: 100%;
    font-size: 14px;
  }
  .info1 h1 {
    font-size: 30px;
  }
  .footer {
    padding: 50px 0;
  }

  .quadrado_texto {
    font-size: 15px;
  }
  .sociedade {
    flex-direction: column;
    margin: 50px 0;
    gap: 50px;
  }
  .sociedade:nth-of-type(2) {
    flex-direction: column-reverse;
  }
  .sociedade_imagem,
  .areas_imagem,
  .honorarios_imagem {
    width: 100%;
  }
  .sociedade_texto {
    width: 100%;
  }
  .contactos_texto form {
    width: 100%;
  }
  .servicos,
  .honorarios {
    flex-direction: column;
  }
  
  .areas {
    flex-direction: column-reverse;
  }
  .honorarios {
    margin-bottom: 50px;
  }
  .servicos_texto,
  .areas_texto {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .honorarios_texto {
    width: 90%;
  }
  .hono_title {
    margin-right: 0%;
    margin: 15% 0% 0% 0%;
    font-size: 40px;
  }
}
@media (max-width: 350px) {
  .navigation {
    padding: 0 0.5rem;
  }
  .pagecontactos {
    padding: 20px;
  }
  .logoMenu {
    left: 0.5rem;
  }
  .closeMenu {
    right: 0.5rem;
  }
  .quadrado_texto {
    font-size: 15px;
  }
  .info1 h1 {
    font-size: 25px;
  }
  .mapa {
    width: 90%;
  }
  .contactos_texto h1 {
    font-size: 30px;
  }
}
/* Post style */
/* Post.module.css */
.container {
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.conteudo {
  font-size: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.conteudoletra {
  font-size: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.container h1 {
  margin-top: 3%;
}

.headerPost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0 2rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 9px 17px 0 rgba(0, 0, 0, 0.142);
}

.headerAdmin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0 2rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 9px 17px 0 rgba(0, 0, 0, 0.142);
}

/* page.module.css */
.adminContainer {
  color: #880e05;
  height: 70vh;
  width: 30%;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adminMenu {
  background-color: #880e05;
  border-radius: 20px;
  color: white;
  height: 40%;
  width: 100%;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.adminButton {
  background-color: #880e05;
  border-radius: 20px;
  color: white;
  height: auto;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.titleAdmin {
  margin-bottom: 30px;
}

.buttonAdmin {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.buttonAdmin:hover {
  background-color: #ad565098;
  color: white;
  border: 1px solid #ffffff; /* Light grey border, adjust color to match the image */
}

.title {
  font-size: 1.5em;
}

.button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #880e05;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #880e05d0;
}

.buttonDelete {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #880e05;
  border: none;
  margin-left: 10%;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonDelete:hover {
  background-color: #880e05d0;
}

.buttonEdit {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #7e7d7d;
  border: none;
  margin-left: 2%;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonEdit:hover {
  background-color: #032252d0;
}

.imgresponsive {
  width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.content {
  margin-top: 40px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.editorContent {
  width: 90%;
  margin-top: 15px;
  margin-left: 5%;
  font-size: 16px;
  line-height: 1.3;
}

.postIndividual {
  box-shadow: 0px 0px 1px #507ab4;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.buttonVoltar {
  padding: 10px 20px;
  background-color: #192a51;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonVoltar:hover {
  background-color: #507ab4;
}

.article {
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  color: #192a51;
}

.headline {
  color: #192a51;
  margin-bottom: 10px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.coverPhoto {
  width: 80%;
  height: auto;
  margin-left: 10%;
  border-radius: 10px;
}

.editorContent {
  width: 90%;
  margin-top: 15px;
  margin-left: 5%;
  font-size: 16px;
  line-height: 1.3;
}

.timestamp {
  margin: 3%;
  color: #666;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.timestamp {
  margin: 3%;
  color: #666;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 85%;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.2em;
  }

  .button {
    padding: 12px 24px;
  }

  .content {
    font-size: 0.9em;
  }
  .container {
    padding: 20px 0px;
  }
  .headerPost {
    padding: 0 0.5rem;
  }
  .postIndividual {
    margin: 20px 0px;
    padding: 10px;
  }
  .button {
    padding: 10px 15px;
  }
  .container h1 {
    display: none;
  }
}

.EditPost {
  border: 2px solid #880e05;
  background-color: white;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-top: 30px;
}

.inputFieldEdit {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputFieldEdit input,
.inputFieldEdit select {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.inputFieldEdit input[type="file"] {
  padding: 5px;
}

.errorText {
  color: red;
  font-size: 14px;
}

.editorContainer {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 40px;
  width: 80%;
}

.buttonOkay {
  padding: 10px 20px;
  background-color: #880e05;
  color: white;
  border: none;
  margin: 40px;

  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.buttonOkay:hover {
  background-color: #08126db9;
}
.pub {
  width: 85%;
  border: 2px solid #880e05;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pub h1 {
  margin-top: 2%;
}

/* AddPost.css */
.add_post_container {
  background: rgb(255, 255, 255);
  color: rgb(107, 17, 17);
  border: 2px solid #880e05;
  border-radius: 20px;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.add_post_container button {
  background-color: #880e05;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.buttonPub {
  background-color: #794b4788;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 5%;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 83%;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.add_post_container button:hover {
  background-color: #120a7ed0;
}

.add_post_container input[type="text"],
.add_post_container input[type="file"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add_post_container label {
  margin-top: 10px;
  display: block;
}

.error_message {
  color: rgb(255, 0, 0);
}

.quill_container {
  background: white;
  border: 1px solid #ccc;
}

.buttonEntrar {
  background-color: #8c0c0c;
  color: white;
  border: none;
  width: 40%;
  height: auto;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.buttonEntrar:hover {
  background-color: #0056b3;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #880e05;
  width: 40%;
  height: 30vh;
  justify-content: space-around;
  text-align: center;
  margin-top: 5%;
  border-radius: 20px;
  color: white;
}

/* Estilos gerais da tabela */
.container table {
  margin-top: 60%;
  line-height: 40px;
  width: 90%;
  border-collapse: collapse; /* Assegura que as bordas entre células sejam combinadas */
  border: 2px solid #cccbcb;
  padding: 2%;
  border-radius: 20px;
  background-color: #f9f9f9; /* Cor de fundo leve para a tabela */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para efeito elevado */
  margin: auto; /* Centraliza a tabela horizontalmente */
}

.espaco {
  margin-bottom: 3%;
  color: white;
  background-color: #880e05;
  padding: 1%;
}

/* Estilos para os cabeçalhos da tabela */
.container th {
  background-color: #880e05; /* Cor de fundo escura para os cabeçalhos */
  color: white; /* Texto branco para contraste */

  font-weight: bold; /* Texto em negrito para os cabeçalhos */
  padding: 15px 10px; /* Padding para espaçamento interno */
  text-align: left; /* Alinhamento do texto à esquerda */
  border-bottom: 1px solid #ccc; /* Linha de separação entre cabeçalho e corpo */
}

/* Estilos para as células da tabela */
.container td {
  text-align: left; /* Alinhamento do texto à esquerda */
  padding: 10px; /* Espaçamento interno nas células */
  border-bottom: 1px solid #ccc; /* Linha sutil entre as linhas */
}

/* Estilos para as linhas alternadas da tabela */
.container tr:nth-child(even) {
  background-color: #e7cdcb62; /* Cor de fundo alternada para melhor legibilidade */
}

/* Estilos para hover nas linhas */
.container tr:hover {
  background-color: #940f0662; /* Cor de fundo ao passar o mouse */
}

.dadosLogin {
  background-color: white;
  border-radius: 20px;
  padding: 7%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputField {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  margin-right: 5%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  margin-top: 10px;
}
@media (max-width: 1100px) {
  .imgresponsive {
    width: 100%;
  }
}
